// Font Family
$ff-1: 'Merriweather', serif;
$ff-2: 'Dancing Script', cursive;
$ff-3: 'Potta One', cursive;
$ff-4: 'Pangolin', cursive;
// Font size
$fs-xxl: 5rem;
$fs-xl: 4rem;
$fs-lg: 3rem;
$fs-md-2: 2.1rem;
$fs-md: 1.7rem;
$fs-sm-2: 1.4rem;
$fs-sm: 1.15rem;
$fs-xs-2: 1rem;
$fs-xs: 0.9rem;
// Font Weight
$fw-r: 400;
$fw-sb: 600;
$fw-b: 700;
$fw-xb: 800;

// Colors
$color-1: #f2f2f2;
$color-2: #d99559;
$color-3: #8c583a;
$color-4: #592e1e;
$color-5: #8c4962;
$color-t: #000000;

// Backgrounds & Images
$welcome-background: url('../img/background.jpg');
$welcome-logo: url('../img/logo.png');
$background-after: rgba(68, 68, 68, 0.75);
