// Content
.main-about {
  background: lighten($color-2, 10%);
}

.content-about {
  @include container(60rem, 5rem);

  .title {
    color: $color-3;

    @include media(em(930)) {
      font-size: $fs-md-2;
    }

    @include media(em(600)) {
      font-size: $fs-md;
    }
  }

  .subtitle {
    color: rgba($color-3, 0.7);
    margin: 3rem 0 2rem;

    @include media(em(930)) {
      font-size: $fs-sm-2;
      margin: 2rem 0 2rem;
    }

    @include media(em(600)) {
      font-size: $fs-sm;
    }
  }

  p {
    color: $color-t;
    line-height: 1.3;

    @include media(em(600)) {
      font-size: $fs-xs-2;
    }
  }

  .img-float {
    float: left;
    max-width: 25rem;

    @include media(em(800)) {
      float: none;
      display: block;
      max-width: 20rem;
      margin: 0 auto;
    }
  }

  @include media(em(600)) {
    padding: 2rem;
  }
}
